#Header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 88);
   
    margin: 0%;
    
    
}

#Header h1{
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    font-size: 70px;
    font-weight: 800;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
}
#navbar{
    top: 0;
    position:sticky;
    
    background-color: rgb(190, 190, 54);
    color: black;
    font-size: 20px;
    font-weight: 200;
    overflow: hidden;
    
}
#navbar a:hover{
    background-color: rgb(255, 255, 88);
}
#navbar a{
    color: black;
}
#Header img{
    margin: 0px;
    width: 200px;
    height: auto;
    
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    
    
    
    
    
}
#navbar li{
    float: left;
    margin: 0px;
    padding: 0px;
}
#navbar ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
#navbar a{
    display: block;
    text-decoration: none;
    padding: 15px;
    text-align: center;
   
    
}
body{
    margin: 0px;
    background-color: rgb(251, 251, 195);
    padding: 0px;
}
body  main{
    padding: 25px;
}

.Content{
    display: flex;
    justify-content: space-evenly;

}
.Content a{
    text-decoration: underline;
    color: black;
}
.Content ul{
    list-style-type: none;
    padding: 10px;


}
.Content li{
    padding: 10px;
}
.Content li:hover{
    background-color: rgb(255, 255, 88);
}
#Intro {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 88);
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: black
}
#Intro h1{
    padding-left: 35%;
    padding-top: 40px;
}
.Contacts{
    display: flex;
    justify-content: space-evenly;

}
.Contacts button{
    padding: 40px;
    font-size: 25px;
    border-style: none;
    padding-left :60px;;
    padding-right: 60px;
    background-color: rgb(226, 226, 176);
    
}
.Contacts button:hover{
    background-color: rgb(255, 255, 88);
    cursor: pointer;
}
#head{
    background-color: rgb(255, 255, 88);
}
#head h1{
    text-align: center;
    margin: 0px;
    padding: 10px;
}
.footer{
    background-color: rgb(255, 255, 88);
    padding: 0px;
    margin: 0px;
    
    
}
.descriptive_image{
    float: right;
    clear: right;
    width: 500px;
    height: auto;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(110, 110, 2);
    text-align: center;
    
    
}

.descriptive_image p{
    text-align: center;
}

.descriptive_image img{
    width: 100%;
}
main p{
    text-align: justify;
    max-width: 100ch;
    font-size: 18px;
}
.Heading{
    background-color: rgb(255, 255, 88);
    font-size: 30px;
    text-align: center;
    padding: 0px;
    margin: 0px;

}
.Heading h1{
    padding: 0px;
    margin: 0px;
    
}
